@font-face {
  font-family: 'sansea';
  src: url('../../swansea-font/Swansea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'swansea-Bold';
  src: url('../../swansea-font/Swansea\ Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
