.footer {
  max-width: $max-width;
  width: 100%;
  background-color: $primary-color;
  color: #fff;
  margin: 8.75rem auto 0;
  padding: 5.75em 0;

  .container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-logo {
    width: 6.5625rem;
    height: 1.875rem;
  }

  &-info,
  &-sociale,
  &-navigation,
  &-contact {
    ul li {
      text-align: left;
      list-style-type: none;
      line-height: 1.69;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
    }
  }

  &-copyright {
    width: 100%;
    padding: 5.75em 0 0;

    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  &-privacy {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
}

// max-width 780px
@include breakpoints-down(small) {
  .footer {
    margin: 2.75rem auto 0;
    padding: 3.75em 0;

    &-logo {
      display: none;
    }

    &-info,
    &-sociale {
      width: 50%;
    }

    &-navigation,
    &-contact {
      width: 100%;
      margin-top: 2rem;
    }

    &-copyright {
      width: 100%;
      padding: 0.75em 0 0;
    }
  }
}

// max-width 480px
@include breakpoints-down(mobile) {
  .footer {
    &-info,
    &-sociale {
      width: 100%;
    }
    &-info {
      margin-bottom: 2rem;
    }
    &-copyright {
      height: 100%;
      display: block;
      text-align: left;

      div {
        margin-bottom: 1rem;
      }
    }
  }
}
