* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  font-family: $swansea, sans-serif;
  color: $primary-color;
}

.container {
  max-width: $max-width;
  width: 100%;
  margin: auto;
}

.inner-width {
  width: $inner-width;
  margin: auto;
}
