.header {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 1.75rem;
  margin-bottom: 7rem;

  &-logo {
    width: 6.5625rem;
    height: 1.875rem;
  }

  &-icon {
    cursor: pointer;
    width: 3.625rem;
    height: 2.25rem;
    position: relative;

    &::before {
      content: '';
      height: 2px;
      position: absolute;
      right: 0;
      top: 0.875rem;
      width: 2.125rem;
      background-color: #1d1d1d;
      margin-bottom: 2px;
      transition: width 0.2s ease-in-out;
    }

    &::after {
      content: '';
      height: 2px;
      position: absolute;
      right: 0;
      top: 1.375rem;
      width: 1.25rem;
      background-color: #1d1d1d;
      transition: width 0.2s ease-in-out;
    }

    &:hover {
      &::before {
        width: 1.25rem;
      }

      &::after {
        width: 2.125rem;
      }
    }
  }
}

.header-bottom {
  font-size: 4.375rem;
  text-align: left;
  font-weight: bold;
  padding-bottom: 3.9rem;

  &-title {
    display: block;
  }
}

// max-width 780px
@include breakpoints-down(small) {
  .container {
    width: 90%;
    margin: auto;
  }

  .inner-width {
    width: 100%;
    margin: auto;
  }

  .header-bottom {
    font-size: 4rem;
  }
}
