// fonts
$swansea: 'Swansea';
$swanseaBold: 'Swansea-bold', sans-serif;

// colors
$primary-color: #1d1d1d;
$blueish-color: #2396b4;
$lightGray-color: #b3b3b3;
$paragraph-color: #525252;
$border-color: #d6d6d6;


// width
$width: 71.25rem; //1140px
$max-width: 85.375rem; //1366px
$inner-width: 59.125rem; // 946px;
